/* src/styles/Services.css */
.services-container {
    padding: 20px;
  }
  
  .services-container h2 {
    color:  #004d4d;
  }
  
  .services-container p {
    font-size: 16px;
    color: black;
  }
  
  .services-container ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  